{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="flow-text center-block">

        <h1 class="primary-color">{% trans 'Upgrade' %}</h1>

        {% if changelog %}
            <p id="version-text">
                {% trans 'Last changes' %}
            </p>

            {# Change list #}
            <ul class="bullet-list changelog">
                {% for change in changelog %}
                    {% if change.strip %}
                        <li>{{ change }}</li>
                    {% endif %}
                {% endfor %}
            </ul>

            {# Upgrade action #}
            <form action="{% url 'updating' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="waves-effect waves-light btn">
                    <i class="material-icons left">cloud_download</i>
                    {% trans 'Upgrade' %}
                </button>
            </form>

        {% else %}
            {% trans 'Congratulations, Qbo is updated to the latest version' %}
        {% endif %}
    </div>
{% endblock %}